/* Pattern styles */
.container {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-t
}

.imgcontainer a{
  margin-left:90%;
  font-family: sans-serif;
  font-weight: bold;
  font-variant: small-caps;
}

.left-half {
  text-transform:uppercase;
  margin-left: 8px;
  background: #fff;
  grid-column: 1;
}

.left-half ul li {
	list-style: none;
	margin-bottom: 15px;
}
.right-half {
  background: #b6701e;
  height:500px;
  grid-column: 2;
}
.logocontainer {
  padding-top:0;
  text-align: left;
  margin: inherit;
  padding: inherit;
  width: 100%;
  height: 80px;
  align-items: center;
  display: inline-flex;
  float: right;
}

.logocontainer span {
	padding-top:0;
	padding-left:0;
	text-transform: uppercase;
	text-align: right;
	color: #f9a100;
	display: inline-flex;
}

a img.logo {
  padding-top:0;
  padding-left:0;
  width: 50%;
  border-radius: 60%;
  align-self: center;
  display: inline;
}